.btn {
  padding: 2rem 4rem;
  border: 2px solid var(--color, black);
  background: transparent;
  font-size: 0.6em;
  border-radius: 2px;
}
/*on hover*/
.btn:hover {
  cursor: pointer;
  background: var(--color, black);
  color: white;
}
.btn.red {
  --color: red;
}

.btn.green {
  --color: rgb(123, 255, 0);
}